<div class="container">
  <ng-container *ngIf="currencyRatesData?.length; else noData">
    <div class="currency-list scrollbar">
      <app-currency-table
        [currencyData]="currencyRatesData"
      ></app-currency-table>
    </div>
    <div class="currency-converter">
      <app-currency-converter
        [currencyRatesData]="currencyRatesData"
        [form]="converterForm"
      ></app-currency-converter>
    </div>
  </ng-container>
  <div class="calendar">
    <input
      type="date"
      aria-label="Calendar"
      min="2002-01-02"
      [max]="maxDate"
      [(ngModel)]="calendarValue"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="checkCalendarData()"
    />
  </div>
</div>
<ng-template #noData
  ><div class="no-data">
    No data for this day :(
    <div>Pick another day</div>
  </div>
</ng-template>
